<h1>All Students</h1>




<table class="table">
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Grade</th>
    <th></th>
  </tr>
  <% @students.each do |student| %>
  <tr>
    <td><%= student.first_name %></td>
    <td><%= student.last_name %></td>
    <td><%= student.grade %></td>
    <td>
      <button><%= link_to 'View', student %></button>
    </td>
  </tr>
  <% end %>
</table>

<button class="btn-lg">
<%= link_to 'Add Student', new_student_path %>
</button>